<!-- 				<div class="form-group" ng-repeat="dado in dados">
					<div class="panel panel-info  col-xs-12 col-md-4">
						<div class="panel-heading">{{title}}</div>
						<div class="panel-body">{{content}}</div>
					</div>
				</div>



<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<div class="alert alert-danger" ng-show="!!error">
  			{{error}}
		</div>
		<div class="alert alert-success" ng-show="!!success">
  			{{success}}
		</div>

		<div id="form-container">

			<div class="page-header text-center">
				<h2>{{getTitle()}}</h2>

				<!-- the links to our nested states using relative paths -->
<!-- add the active class if the state matches our ui-sref -->
<div id="status-buttons" class="text-center">
	<button class="btn btn-link" ng-click="page = 1"
		ui-sref-active="active">
		<b ng-if="page==1"><span>1 - </span> Descricao</b>
		<div ng-if="page!=1">
			<span>1 - </span> Descricao
		</div>
	</button>
	<button class="btn btn-link" ng-click="page = 2"
		ui-sref-active="active">
		<b ng-if="page==2"><span>2 - </span> Complexidade</b>
		<div ng-if="page!=2">
			<span>2 - </span> Complexidade
		</div>
	</button>
	<button class="btn btn-link" ng-click="page = 3"
		ui-sref-active="active">
		<b ng-if="page==3"><span>3 - </span> Resumo</b>
		<div ng-if="page!=3">
			<span>3 - </span> Resumo
		</div>
	</button>
</div>
</div>
<div ng-show="page == 1">
	<form name="form">
		<formly-form model="form.pojo" fields="form.fields" form="form">
		</formly-form>
		<a class="btn btn-block btn-info" ng-click="page = 2"> Proximo <span
			class="glyphicon glyphicon-circle-arrow-right"></span>
		</a>
	</form>
</div>
<div ng-show="page == 2">
	<form class="form-horizontal">
		<div class="form-group" ng-repeat="tabela in tabelas">
			<div class=" col-xs-12 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						{{tabela.nome}}
						<div class="pull-right">
							<span><a
								class="btn btn-default btn-xs glyphicon glyphicon-plus"
								ng-click=""></a></span> <span class="panel"><a
								class="btn btn-default btn-xs glyphicon glyphicon-minus"></a></span>
						</div>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="checkbox">
								<label><input type="checkbox"
									value="{{atributo.selecionado}}"> <input type="text"
									class="form-control" id="usr" value="{{atributo.nome}}"
									ng-model="{{atributo.nome}}"> </label> <a
									class="btn btn-xs btn-default glyphicon glyphicon-minus"
									style="margin-bottom: 5px"></a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="clearfix"></div>
		<div class="form-group">
			<a class="btn btn-block btn-info" ng-click="page = 3"> Proximo <span
				class="glyphicon glyphicon-circle-arrow-right"></span></a>
		</div>
	</form>
</div>
<div ng-show="page == 3">
	<div class="text-center">
		<h4 ng-if="!formValid">
			<span class="label label-danger">Ops, existem campos
				obrigatorios nao preenchidos!</span>
		</h4>
	</div>
	<hr class="separator">
	<div class="text-center">
		<h3>
			<span>Dados do projeto</span>
		</h3>
		<h4>
			<span class="label label-default">{{form.pojo.nome}}</span>
		</h4>
		<div class="row">
			<p>{{form.pojo.descricao}}
		</div>
		<h4>
			<span class="label label-primary">Valor da hora:</span>
			{{formataValor(form.pojo.valorHora)}}
		</h4>
	</div>
	<button ng-disabled="!formValid" class="btn btn-block btn-info"
		ng-click="save(form.pojo)">
		Salvar <span class="glyphicon glyphicon-circle-floppy-disk"></span>
	</button>
</div>

</div>

</div>
</div>
-->
