<!-- form.html -->
<div class="row">
<div class="col-sm-8 col-sm-offset-2">

    <div id="form-container" ng-view>

        <div class="page-header text-center">
            <h2	>Cadastro de Projeto</h2>
            
            <!-- the links to our nested states using relative paths -->
            <!-- add the active class if the state matches our ui-sref -->
            <div id="status-buttons" class="text-center">
                <button class="btn btn-link" ng-click="onClick(1)" ui-sref-active="active"><span>1</span> Profile</button>
                <button class="btn btn-link" ng-click="onClick(2)" ui-sref-active="active"><span>2</span> Interests</button>
                <button class="btn btn-link" ng-click="onClick(3)" ui-sref-active="active"><span>3</span> Payment</button>
            </div>
        </div>
        
        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <form id="signup-form" ng-submit="processForm()">

            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </form>

    </div>

    <!-- show our formData as it is being typed -->
    <pre>
        {{ currentPage }}
    </pre>


</div>
</div>